@import "../Attach/Attach";
@import "../_variables";

html,
body {
	background: #f7f7f7;
	font-family: Jokerman, fantasy;
	font-size: 20px;

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

#templates::after {
	content: '';
	display: table;
	clear: both;
}

.templates-wrapper {
	float: left;
}

.template-item {
	width: 360px;
	background: #ccc;
	color: green;
	border-radius: 3px;
	border: 3px solid pink;
	margin: 10px;
	padding: 5px;
	cursor: pointer;
}

.tabs {
	background: teal;
	padding: 10px;
	display: inline-block;
	margin-left: 10px;
	text-align: center;
	border-radius: 3px;
	border: 3px solid yellowgreen;
}

.tab {
	display: inline-block;
	text-transform: uppercase;
	margin: 0 10px;

	a {
		color: purple;
		text-decoration: none;
	}
}

.filter > div {
	display: inline-block;
}

.language-filter {
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 3px;
	background: darkkhaki;
	border: 3px solid lightskyblue;

	.language-item {
		display: inline-block;
		text-transform: uppercase;
		margin: 0 10px;
		color: #fff;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

.filter-text {
	input {
		font-size: 20px;
		width: 290px;
		border: 3px solid saddlebrown;
		padding: 3px;
		border-radius: 3px;
		color: purple;
	}
}

.selectedTab {
	background: yellow;
}

.selectedLanguage {
	background: blueviolet;
	color: cadetblue;
}

.selectedTemplate {
	background: olive;
}

.selected-template-template {
	float: left;
	margin-left: 20px;
	background: #aaa;
	padding: 10px;

	h3 {
		margin: 5px 0;
		color: lemonchiffon;
	}
}

.create-new {
	display: block;
	margin: 10px;
}

// -------------------------------

$general_grey: #dddddd;
$templates_lightblue: #e1f5fe;
$templates_gray: #f2f2f2;
$general_light_black: #bbbbbb;

.templates {
	&__leftside, &__rightside {
		padding: 25px 30px;
	}
	&__leftside {
		border-right: 1px solid $general_grey;
		padding-right: 25px;
	}
	&__rightside {
		padding-left: 25px;
		padding-right: 25px;

		&.-empty {
			background-color: $general_grey;
		}

		&.-hide {
			display: none;
		}
	}
}

.hubcontrol__input {
	textarea.templates-input {
		height: 62px;
		resize: vertical;

		&:not(:focus) {
			border-color: $general_light_black;
		}
	}
	.templates-input {
		padding-top: 6px;
		padding-bottom: 6px;
	}
}

.templates-btn {
	margin: 0;
	cursor: pointer;
	color: #003399;
	border: 1px solid #003399;
	border-radius: 2px;
	padding: 5px 15px;

	&.-green {
		color: #4ba661;
		border-color: #4ba661;
	}

	&.-grey {
		color: #78909c;
		border-color: #78909c;
	}

	&.-without-border {
		border: none;
	}
}

.templates-title {
	margin-bottom: 0;
}

.templates-tabs {
	margin-top: 25px;
	border-bottom: 1px solid $general_grey;

	&__item {
		user-select: none;
		background-color: $templates_gray;
		padding: 11px 3px;
		width: 105px;
		margin: 0;
		border-radius: 2px 2px 0 0;
		cursor: pointer;

		& [class^='fi-'] {
			font-size: 23px;
			display: block;
		}

		&.-active {
			background-color: #e1f5fe;
		}
	}
}


.templates-search {
	&__wrap {
		margin: 25px 0 20px 0;
	}

	&__inputblock {
		margin: 0;
		margin-left: 15px;
	}
}

.templates-lang {
	&__title {
		margin-bottom: 3px;
	}
	&__item {
		user-select: none;
		background-color: $templates_gray;
		margin: 0;
		margin-right: 2px;
		height: 26px;
		line-height: 26px;
		padding: 0 7px;
		cursor: pointer;
		color: #7f7f7f;
		text-transform: uppercase;
	
		&.-active {
			color: #222;
			background-color: $templates_lightblue;
		}
	}
}

.templates-list {
	margin-bottom: 20px;
	&__item {
		user-select: none;
		cursor: pointer;
		padding: 10px 0;
		border-top: 1px solid $general_grey;

		&:last-child {
			border-bottom: 1px solid $general_grey;
		}

		& [class^='fi-'] {
			color: #777;
			margin-right: 5px;
			font-size: 21px;
			position: relative;
			top: 2px;
		}

		&.-active {
			padding-left: 10px;
			background-color: #f2f2f2;
		}
	}
	&__date {
		padding-top: 2px;
		color: $general_light_black;
	}
	&__remove {
		margin-right: 13px;
		font-size: 18px;
		margin-top: -3px;
		position: relative;
		margin-left: 12px;
		top: 3px;
	}
}

.templates-inputarea {
	margin-top: 20px;
}

.templates-create-controls {
	margin-top: 20px;
	&__discard {
		padding-left: 0;
		padding-right: 0;
		margin-left: 20px;
	}
}

.templates-icons {
	color: #bbb;

	&__emozzi {
		margin-right: 10px;
	}
}

.templates-view {
	&__key, &__value {
		margin: 0;
	}
	&__key {
		&:not(:first-child) {
			margin-top: 20px;
		}
	}
}
