<!--<div class="templates-wrapper">-->
	<!--<div class="tabs">-->
		<!--<div class="tab" data-bind="css: {selectedTab: isStandardTabSelected()}">-->
			<!--<a href="#" data-bind="click: selectStandardTab">Standard</a>-->
		<!--</div>-->
		<!--<div class="tab" data-bind="css: {selectedTab: isInviteTabSelected()}">-->
			<!--<a href="#" data-bind="click: selectInviteTab">Invite</a>-->
		<!--</div>-->
		<!--<div class="tab" data-bind="css: {selectedTab: isDeclineTabSelected()}">-->
			<!--<a href="#" data-bind="click: selectDeclineTab">Decline</a>-->
		<!--</div>-->
		<!--<div class="tab" data-bind="css: {selectedTab: isOfferTabSelected()}">-->
			<!--<a href="#" data-bind="click: selectOfferTab">Offer</a>-->
		<!--</div>-->
	<!--</div>-->

	<!--<div class="filter">-->
		<!--<div class="language-filter">-->
			<!--<div class="language-item" data-bind="css: {selectedLanguage: isRussianLanguageSelected()}, click: toggleRussianLanguage">-->
				<!--Ru-->
			<!--</div>-->
			<!--<div class="language-item" data-bind="css: {selectedLanguage: isUkrainianLanguageSelected()}, click: toggleUkrainianLanguage">-->
				<!--Ua-->
			<!--</div>-->
			<!--<div class="language-item" data-bind="css: {selectedLanguage: isEnglishLanguageSelected()}, click: toggleEnglishLanguage">-->
				<!--En-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="filter-text">-->
			<!--<input type="search" data-bind="value: filter, valueUpdate: 'input'">-->
		<!--</div>-->
	<!--</div>-->


	<!--<div class="templates-list" data-bind="foreach: filteredTemplates">-->
		<!--<div class="template-item" data-bind="text: name, click: select, css: {selectedTemplate: isSelected()}"></div>-->
	<!--</div>-->
<!--</div>-->



<!--<div class="selected-template-template">-->
	<!--<button class="create-new" data-bind="click: create">Create new template</button>-->


	<!--<div data-bind="if: isSelectedTemplateBeingEdited">-->
		<!--<div data-bind="with: selectedTemplateForm">-->
			<!--<div data-bind="template: template"></div>-->
		<!--</div>-->
		<!--<button data-bind="click: $root.cancel">Cancel</button>-->
		<!--<button data-bind="click: $root.save">Save</button>-->
	<!--</div>-->

	<!--<div data-bind="ifnot: isSelectedTemplateBeingEdited">-->
		<!--<div data-bind="with: selectedTemplate">-->
			<!--<div data-bind="template: template"></div>-->
		<!--</div>-->
		<!--<button data-bind="click: $root.edit">Edit</button>-->
		<!--<button data-bind="click: $root.remove">Remove</button>-->
	<!--</div>-->



<!--</div>-->


<!--<br clear="all">-->
<!--<br><br><br><br><br><br><br><br><br><br>-->













<div class="templates fd-f-left">
	<div class="fd-f1 templates__leftside">
		<div class="fd-f-between-middle">
			<h3 class="fd-f1 fd-beefy-soldier templates-title f-text-black">Шаблоны сообщений</h3>
			<p data-bind="click: create" class="templates-btn fd-peasant">
				Создать новый шаблон
			</p>
		</div>

		<div class="templates-tabs fd-f-between fd-text-center">
			<p class="templates-tabs__item fd-serf" data-bind="click: selectStandardTab, css: {'-active f-text-black': isStandardTabSelected(), 'f-text-gray': !isStandardTabSelected()}">
				<i class="fi-hub-wright"></i>
				Сообщения
			</p>
			<p class="templates-tabs__item fd-serf" data-bind="click: selectInviteTab, css: {'-active f-text-black': isInviteTabSelected(), 'f-text-gray': !isInviteTabSelected()}">
				<i class="fi-hub-invite"></i>
				Приглашения
			</p>
			<p class="templates-tabs__item fd-serf" data-bind="click: selectDeclineTab, css: {'-active f-text-black': isDeclineTabSelected(), 'f-text-gray': !isDeclineTabSelected()}">
				<i class="fi-hub-refuse"></i>
				Отказы
			</p>
			<p class="templates-tabs__item fd-serf" data-bind="click: selectOfferTab, css: {'-active f-text-black': isOfferTabSelected(), 'f-text-gray': !isOfferTabSelected()}">
				<i class="fi-hub-offer"></i>
				Предложения
			</p>
		</div>

		<div class="fd-f-left templates-search__wrap">
			<div class="templates-lang fd-f-left">
				<p class="fd-peasant templates-lang__item -active" data-bind="css: {'-active': isRussianLanguageSelected()}, click: toggleRussianLanguage">РУ</p>
				<p class="fd-peasant templates-lang__item" data-bind="css: {'-active': isUkrainianLanguageSelected()}, click: toggleUkrainianLanguage">УК</p>
				<p class="fd-peasant templates-lang__item" data-bind="css: {'-active': isEnglishLanguageSelected()}, click: toggleEnglishLanguage">EN</p>
			</div>
			<div class="fd-f1 f-input-block hubcontrol__input templates-search__inputblock">
				<input data-bind="value: filter, valueUpdate: 'input'" class="templates-input" type="text" placeholder="Поиск...">
			</div>
		</div>

		<div class="templates-empty" data-bind="if: templatesIsEmpty">
			<p class="fd-peasant templates-empty__text">
				Создайте шаблон сообщений. <br />
				Это поможет Вам экономить время
			</p>

			<p data-bind="click: create" class="templates-btn -emptycreate -grey fd-serf">
				Создать шаблон
			</p>
		</div>

		<ul class="templates-list f-reset-list f-text-black" data-bind="foreach: filteredTemplates">
			<li class="fd-f-left fd-peasant templates-list__item" data-bind="click: select, css: {'-active': isSelected()}">
				<span class="fd-f1">
					<i class="fi-hub-wright"></i>
					<span data-bind="text: name"></span>
				</span>
				<span class="templates-list__date" data-bind="text: datetime"></span>
				<span class="templates-list__wrap-remove" data-bind="if: isSelected">
					<span data-bind="click: function() { $root.remove() /* I don't why, but it's work */ }" class="templates-list__remove f-text-gray">&times;</span>
				</span>
				<span class="templates-list__wrap-remove" data-bind="ifnot: isSelected">
					<span class="templates-list__remove -hidden f-text-gray">&times;</span>
				</span>
			</li>
		</ul>
	</div>


	<div class="fd-f1 templates__rightside" data-bind="if: isSelectedTemplateBeingEdited, css: { '-hide': !isSelectedTemplateBeingEdited() }">
		<div data-bind="with: selectedTemplateForm">
			<div data-bind="template: template"></div>
		</div>

		<div class="fd-f-left templates-create-controls">
			<a data-bind="click: $root.save" href="#save" class="templates-btn -green fd-peasant">
				Сохранить
			</a>
			<a data-bind="click: $root.cancel" href="#cancel" class="templates-create-controls__discard templates-btn -grey -without-border fd-peasant">
				Отменить
			</a>
		</div>
	</div>

	<div class="fd-f1 templates__rightside" data-bind="if: ( !templatesIsEmpty() && !isSelectedTemplateBeingEdited() ), css: { '-hide': isSelectedTemplateBeingEdited(), '-empty': templatesIsEmpty() }">
		<div data-bind="with: selectedTemplate">
			<div data-bind="template: template"></div>
		</div>

		<div class="fd-f-left templates-create-controls">
			<a data-bind="click: $root.edit" href="#save" class="templates-btn -green fd-peasant">
				Редактировать
			</a>
			<a data-bind="click: $root.remove" href="#remove" class="templates-create-controls__discard templates-btn -grey -without-border fd-peasant">
				Удалить
			</a>
		</div>
	</div>

</div>
