<!--<div class="templates-wrapper">-->
	<!--<div class="tabs">-->
		<!--<div class="tab" data-bind="css: {selectedTab: isStandardTabSelected()}">-->
			<!--<a href="#" data-bind="click: selectStandardTab">Standard</a>-->
		<!--</div>-->
		<!--<div class="tab" data-bind="css: {selectedTab: isInviteTabSelected()}">-->
			<!--<a href="#" data-bind="click: selectInviteTab">Invite</a>-->
		<!--</div>-->
		<!--<div class="tab" data-bind="css: {selectedTab: isDeclineTabSelected()}">-->
			<!--<a href="#" data-bind="click: selectDeclineTab">Decline</a>-->
		<!--</div>-->
		<!--<div class="tab" data-bind="css: {selectedTab: isOfferTabSelected()}">-->
			<!--<a href="#" data-bind="click: selectOfferTab">Offer</a>-->
		<!--</div>-->
	<!--</div>-->

	<!--<div class="filter">-->
		<!--<div class="language-filter">-->
			<!--<div class="language-item" data-bind="css: {selectedLanguage: isRussianLanguageSelected()}, click: toggleRussianLanguage">-->
				<!--Ru-->
			<!--</div>-->
			<!--<div class="language-item" data-bind="css: {selectedLanguage: isUkrainianLanguageSelected()}, click: toggleUkrainianLanguage">-->
				<!--Ua-->
			<!--</div>-->
			<!--<div class="language-item" data-bind="css: {selectedLanguage: isEnglishLanguageSelected()}, click: toggleEnglishLanguage">-->
				<!--En-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="filter-text">-->
			<!--<input type="search" data-bind="value: filter, valueUpdate: 'input'">-->
		<!--</div>-->
	<!--</div>-->


	<!--<div class="templates-list" data-bind="foreach: filteredTemplates">-->
		<!--<div class="template-item" data-bind="text: name, click: select, css: {selectedTemplate: isSelected()}"></div>-->
	<!--</div>-->
<!--</div>-->
<!--<div class="selected-template-template">-->
	<!--<button class="create-new" data-bind="click: create">Create new template</button>-->
	<!--<div data-bind="if: isSelectedTemplateBeingEdited">-->
		<!--<div data-bind="with: selectedTemplateForm">-->
			<!--<div data-bind="template: template"></div>-->
		<!--</div>-->
		<!--<button data-bind="click: $root.cancel">Cancel</button>-->
		<!--<button data-bind="click: $root.save">Save</button>-->
	<!--</div>-->
	<!--<div data-bind="ifnot: isSelectedTemplateBeingEdited">-->
		<!--<div data-bind="with: selectedTemplate">-->
			<!--<div data-bind="template: template"></div>-->
		<!--</div>-->
		<!--<button data-bind="click: $root.edit">Edit</button>-->
		<!--<button data-bind="click: $root.remove">Remove</button>-->
	<!--</div>-->
<!--</div>-->



<div class="templates fd-f-left">
	<div class="fd-f1 templates__leftside fd-p20">
		<div class="fd-f-between-middle">
			<h3 class="fd-f1 fd-beefy-soldier templates-title">Шаблоны сообщений</h3>
			<a href="#" class="templates-title__createnew-btn fd-peasant">
				Создать новый шаблон
			</a>
		</div>

		<div class="templates-tabs fd-f-between fd-text-center">
			<p class="templates-tabs__item -active fd-serf">
				<i class="fi-hub-wright"></i>
				Сообщения
			</p>
			<p class="templates-tabs__item fd-serf">
				<i class="fi-hub-invite"></i>
				Приглашения
			</p>
			<p class="templates-tabs__item fd-serf">
				<i class="fi-hub-refuse"></i>
				Отказы
			</p>
			<p class="templates-tabs__item fd-serf">
				<i class="fi-hub-offer"></i>
				Предложения
			</p>
		</div>

		<div class="fd-f-left templates-search__wrap">
			<div class="templates-lang fd-f-left">
				<p class="fd-peasant templates-lang__item -active">РУ</p>
				<p class="fd-peasant templates-lang__item">УК</p>
				<p class="fd-peasant templates-lang__item">EN</p>
			</div>
			<div class="fd-f1 f-input-block hubcontrol__input templates-search__inputblock">
				<input type="text" placeholder="Поиск...">
			</div>
		</div>


		<ul class="templates-list f-reset-list">
			<li class="fd-f-left fd-peasant templates-list__item -active">
				<span class="fd-f1">
					<i class="fi-hub-wright"></i>
					Новый шаблон сообщения
				</span>
				
			</li>
			<li class="fd-f-left fd-peasant templates-list__item">
				<span class="fd-f1">
					<i class="fi-hub-wright"></i>
					О компании
				</span>
				<span class="templates-list__date">
					22 апр 2017
				</span>
			</li>
			<li class="fd-f-left fd-peasant templates-list__item">
				<span class="fd-f1">
					<i class="fi-hub-wright"></i>
					Приветствие в базе резюме
				</span>
				<span class="templates-list__date">
					02 янв 2017
				</span>
			</li>
			<li class="fd-f-left fd-peasant templates-list__item">
				<span class="fd-f1">
					<i class="fi-hub-wright"></i>
					Сказ о том, как круто работать карлсоном
				</span>
				<span class="templates-list__date">
					15 фев 2017
				</span>
			</li>
			<li class="fd-f-left fd-peasant templates-list__item">
				<span class="fd-f1">
					<i class="fi-hub-wright"></i>
					Приглашение + анкета
				</span>
				<span class="templates-list__date">
					17 апр 2017
				</span>
			</li>
		</ul>	


	</div>
	<div class="fd-f1 templates__rightside">
		
	</div>
</div>
