<h3>Language</h3>
<div data-bind="text: language"></div>
<h3>Name</h3>
<div data-bind="text: name"></div>
<h3>Text</h3>
<div data-bind="text: text"></div>
<div data-bind="with: attach">
	<h3>Attached files</h3>
	<p data-bind="text: fileName"></p>
	<div data-bind="if: id">
		<h3>Attached files</h3>
		<p data-bind="text: fileName"></p>
		<p>
			<span data-bind="text: fileSize"></span>
			<span>kb</span>
		</p>
		<button data-bind="click: $parent.removeAttach.bind($parent)">Remove attached file</button>
	</div>
</div>
<!--<h3>Address</h3>-->
<!--<div data-bind="text: addressText"></div>-->
