<h3>Language</h3>
<select name="language" id="language" data-bind="options: $parent.languages, value: language"></select>
<h3>Title</h3>
<input type="text" name="title" id="title" data-bind="value: title">
<h3>text</h3>
<input type="text" name="text" id="text" data-bind="value: text">
<div>
	<select id="addressId" data-bind="options: addresses, optionsText: 'optionText', optionsValue: 'id', value: addressId, optionsCaption: 'address...'"></select>
</div>
<div data-bind="with: addressForm">
	<div data-bind="template: 'AddressForm'"></div>
</div>
<div data-bind="visible: addressForm">
	<button data-bind="disable: isAddButtonDisabled, click: saveAddress">Add</button>
	<button data-bind="click: cancelAddressForm">Cancel</button>
</div>
<button data-bind="click: createAddress">Add address</button>
