<h3>Language</h3>
<select name="language" id="language" data-bind="options: $parent.languages, value: language"></select>
<h3>Name</h3>
<input type="text" name="name" id="name" data-bind="value: name">
<h3>text</h3>
<input type="text" name="text" id="text" data-bind="value: text">
<h3>Attached files</h3>
<div data-bind="with: attach">
	<h4 data-bind="if: id">
		<span data-bind="text: fileName"></span>
		<span data-bind="text: fileSize"></span>
	</h4>
	<div data-bind="ifnot: id">
		<h4>No files chosen for attach</h4>
	</div>
	<div data-bind="if: id">
		<span>You can choose another file for attaching</span>
	</div>
</div>
<label class="attach-file-form">
	<input type="file" data-bind="attach: {attach: attach}"/>
	<div data-bind="with: attach">
		<span data-bind="ifnot: id">Attach file</span>
		<span data-bind="if: id">Choose another file</span>
	</div>
</label>
<div data-bind="template: {name: 'Attach', data: attach}"></div>
<div data-bind="if: attach().id">
	<button data-bind="click: resetAttach">Reset attach</button>
</div>

