//SMACSS rulezzz !


//Base

input, textarea, button {
	outline: none;
}

//

//Modules

.message-container {
	.message-text-container.-invite {
		.invite-data {
			background-color: $message_bg_color;
			padding: 0 8px;
			color: $gray;
			border-radius: 2px;
			i {
				margin-right: 4px;
			}
			div:first-child {
				margin-bottom: 7px;
				span {
					font-size: 14px;
					&:first-child {
						margin-right: 7px;
					}
				}
			}
		}
	}
}

.manage-address {
	width: 850px;
}

.address-map {
	width: 525px;
	height: 260px;
}
.address-list {
	max-height: 615px;
	min-height: 400px;
	position: relative;
	padding: 20px 30px 30px;
	.heading {
		padding-bottom: 15px;
		border-bottom: 1px solid $light_black;
		h3 {
			margin: 0;
		}
	}
	.container {
		.no-addresses-alert {
			margin-top: 20px;
			font-weight: bold;
		}
	}
	.item {
		padding: 10px;
		color: rgba(0,0,0,.87);
		border-bottom: 1px solid $light_black;
		cursor: pointer;
		&.add-address {
			cursor: auto;
			padding-top: 15px;
			padding-bottom: 15px;
			&:not(.is-active) {
				color: #4ba661;
			}
			.text {
				cursor: pointer;
			}
		}
		&.is-active, &:hover {
			background-color: rgba(0, 0, 0, 0.05);
		}
		.city {
			color: $light_gray;
		}
		.text {
			margin-right: 10px;
		}
		.close {
			font-size: 10px;
			cursor: pointer;
		}
	}
}
.address-data {
	padding: 20px 40px;
	border-left: 1px solid $light_black;
	.address, .description {
		color: rgba(0,0,0, .87);
	}
	.description {
		margin-top: 15px;
		.heading {
			color: $gray;
			margin-bottom: 2px;
		}
		.text {
			margin: 0;
		}
	}
	.remove-button {
		margin-top: 30px;
		font-size: 14px;
		color: $gray;
		.text {
			cursor: pointer;
			transition: all .2s linear;
			&:hover {
				color: opacify($gray, .2);
			}
		}
	}
}

.address-data.address-data-form {
	.control-container {
		&:not(:first-of-type) {
			margin-top: 15px;
		}
	}
	.control {
		display: block;
		width: 100%;
		padding: 6px 0 6px 7px;
		border-radius: 2px;
		border: 1px solid $light_gray;
	}
	.label {
		color: $gray;
	}

	.buttons-holder {
		margin-top: 20px;
		.save {
			&:enabled {
				color: $dark_green;
			}
			&:disabled {
				cursor: not-allowed;
			}
		}
		.cancel {
			border: none;
		}
	}
}
