.message-container {
	.message-text-container.-invite {
		.invite-data {
			background-color: $message_bg_color;
			padding: 0 8px;
			color: $gray;
			border-radius: 2px;
			i {
				margin-right: 4px;
			}
			div:first-child {
				margin-bottom: 7px;
				span {
					font-size: 14px;
					&:first-child {
						margin-right: 7px;
					}
				}
			}

			.map {
				margin-top: 5px;
				cursor: pointer;

				img {
					transition: .5s;
				}

				img:hover {
					filter: grayscale(100%);
					transition: .5s;
				}
			}

		}
	}
}
