//Colors
$message_bg_color: #e1f5fe;
$light_gray: rgba(0,0,0, .3);
$gray: rgba(0,0,0, .54);
$mid_blue: #2956ac;
$light_black: rgba(0,0,0, .12);
$purple: #afbee6;
$blue: #039;

//Fonts

$graphic_medium: 'Graphik Medium';
