@import 'variables';


.hub_mount * {
	box-sizing: border-box;
}


// Hub Colors
.hub-color {
	&__black {
		color: $general_black;
	}
	&__lightblack {
		color: $general_light_black;
	}
	&__boldblack {
		color: $general_bold_black;
	}

}



// Redefined controls

.hubcontrol {
	&__input {
		& input {
			border-color: $general_light_black;
			font-size: 13px;
			padding: 10px;
		}
	}

	&__checkbox {
		input:not(:checked)~.f-checkbox-control {
			border-color: $general_light_black;
		}
	}
}

// ----------------------------------------------

.header {
	$header_height: 50px;
	&__wrap {
		padding: 0 20px;
		height: $header_height;
		background-color: #cfd8dc;
		position: relative;
	}
	&__title {
		display: inline-block;
		line-height: $header_height;
		margin-bottom: 0;
		cursor: pointer;
	}
	&__icon {
		margin-left: 10px;

		&:empty {
			display: none;
		}
	}
}

.messages-container {
	width: 100%;
	max-width: 100%;

	&__scrollable-place {
		position: relative;
		padding-right: 10px;
		min-height: 400px;
		max-height: 500px;
		overflow-y: auto;
	}
}


.dropdown {
	display: none;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
	margin: 0;
	padding: 0 20px;
	list-style-type: none;
	border-radius: 2px;
	background-color: #fff;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 100;

	&.-show {
		display: block;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 2px;
		width: 100%;
		background-color: rgb(117, 117, 117);
		border-radius: 2px 2px 0 0;
	}

	&.-dialog-types {
		width: 294px;
		padding-top: 20px;
		padding-bottom: 20px;

		& li {
			& a {
				color: inherit;
			}
			line-height: 30px;
			cursor: pointer;
		}
	}
}

@import 'Hub/EmployerHub.scss';
@import 'Hub/JobsearcherHub.scss';
@import 'Hub/JobsearcherHub.scss';
@import 'Templates/Templates.scss';

@import 'Accordion/Accordion.scss';
@import 'Conversation/Conversation.scss';
@import 'Header/Header.scss';
@import 'LeftSidebar/LeftSidebar';
@import 'Message/Form/scss/MessageForm';
