@import 'variables';


.hub_mount * {
	box-sizing: border-box;
}


// Hub Colors
.hub-color {
	&__black {
		color: $general_black;
	}
	&__lightblack {
		color: $general_light_black;
	}
	&__boldblack {
		color: $general_bold_black;
	}

}



// Redefined controls

.hubcontrol {
	&__input {
		& input {
			border-color: $general_light_black;
			font-size: 13px;
			padding: 10px;
		}
	}

	&__checkbox {
		input:not(:checked)~.f-checkbox-control {
			border-color: $general_light_black;
		}
	}
}

// ----------------------------------------------

.header {
	$header_height: 50px;
	&__wrap {
		padding: 0 20px;
		height: $header_height;
		background-color: #cfd8dc;
	}
	&__title {
		line-height: $header_height;
	}
}

.messages-container {
	width: 100%;
	max-width: 100%;

	&__scrollable-place {
		padding-right: 10px;
		min-height: 400px;
		max-height: 500px;
		overflow-y: scroll;
	}
}

@import 'Conversation/Conversation.scss';
@import 'LeftSidebar/LeftSidebar';
