@import "../../../variables";

.message-form {
	&__area {
		width: 100%;
		border: 0;
		border-bottom: 2px solid #0d47a1;
		display: block;
		min-height: 50px;
		resize: none;
		margin-bottom: 15px;
		color: rgba(0, 0, 0, 0.87);
		font-family: "Graphik Regular", sans-serif;
		padding: 15px 0 30px;
		line-height: 17px;
		box-sizing: border-box;

		&:focus {
			outline: 0;
		}
	}

	&__text {
		color: rgba(0, 0, 0, 0.3);

		&.-invite {
			line-height: 1.7;
		}
	}
}

.opportunities {
	&__item {
		margin-right: 15px;
	}
}

.invite-info {
	&__add-btn {
		height: 26px;
		border-radius: 2px;
		border: solid 1px #78909c;
		text-transform: uppercase;
		color: #78909c;
		background: transparent;
		margin-left: 10px;
	}

	&__date {
		margin-bottom: 15px;
		margin-top: 20px;
	}
}

.message-form-control {
	border-color: $light_gray;
	&.-gray {
		color: $gray;
		input, input:focus {
			border-color: $light_gray;
		}
	}
	&__input,
	&__select {
		height: 26px;
		border-radius: 2px;
		padding: 6px;
		margin-left: 10px;
	}
	&__icon {
		box-sizing: content-box;
		&.fi-drop-down-icon {
			transition: all .2s;
		}
	}

	&.-focused &__icon.fi-drop-down-icon::before {
		transform: rotate(180deg);
	}

	//For selector specificity increasing to override fedor styles
	 &_gray {
		color: $gray;
		border-color: $light_gray;
	}
}


