@import "../Attach/Attach";
@import "../Message/scss/AbstractMessage";

html,
body {
	background: #ccc;
}

.active {
	color: red;
}

.muted {
	opacity: .5;
}

.conversation.active {
	background: #999;
}


